<div class="container justify-content-center">
  <h6 class="display-6" style="color: #473144; padding: 10px;">
    Catalogo de Productos
  </h6>
</div>
<br />
<br />
<div class="row justify-content-center">
  <div class="card" style="width: 18rem;" *ngFor="let producto of productos">
    <span>
      <img src="{{ producto.imgUrl }}" class="card-img-top" width="100px" />
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <!-- <h6 class="card-title">{{producto.id}}</h6> -->
        <p class="card-text">{{producto.marca}} - {{producto.precio}}</p>
        <button
          type="button"
          class="btn btn-outline-danger mr-4"
          (click)="eliminar(producto)"
        >
          Borrar
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="editar(producto)"
        >
          Editar
        </button>
      </div>
    </span>
    <br /><br />
  </div>
</div>

<!-- Ventana modal para editar un producto -->
<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Modificar datos de {{ productoEditar.nombre }} - {{
          productoEditar.marca }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form (ngSubmit)="agregarProductoEditado()">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              name="nombre"
              [(ngModel)]="productoEditar.nombre"
            /><br />

            <input
              type="text"
              class="form-control"
              placeholder="Marca"
              aria-describedby="basic-addon1"
              name="marca"
              [(ngModel)]="productoEditar.marca"
            /><br />
            <input
              type="text"
              class="form-control"
              placeholder="Precio"
              name="precio"
              [(ngModel)]="productoEditar.precio"
            />
            <br />
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Guardar Cambios
            </button>
          </form>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
