<h1 class="display-5" style="color: #473144; padding: 10px;">{{titulo}}</h1>

<div class="container">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut non consequatur
    animi laudantium eveniet odit earum molestiae cupiditate voluptatum iure
    tempore fuga, nemo repudiandae nostrum eius eligendi saepe autem
    dignissimos.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, cupiditate
    repellat. Eaque dolorem nihil aliquid quae perspiciatis dicta, fugit
    assumenda at itaque. Quod nam libero voluptatem optio quasi, ullam
    consectetur.
  </p>
</div>

<div class="container">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="https://images.unsplash.com/photo-1587314168485-3236d6710814?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1270&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1595447966838-4539afd86068?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1599785209615-a35f883d93c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1586195831800-24f14c992cea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1571741443170-97e080e5b808?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1601000937971-d464714b9e6f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1455480535992-2640934db358?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1282&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1611354344522-ac5ec2babb71?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://images.unsplash.com/photo-1578633701951-3a2a5318e2f0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br />
<br />
<div class="container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, saepe
    similique modi laudantium impedit odio temporibus assumenda repudiandae
    doloribus voluptatibus cumque minus iusto. Ipsum minus excepturi iusto!
    Quod, iste doloremque?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, dolor,
    tempore alias asperiores laudantium porro autem minus culpa voluptas quas
    molestiae animi fugiat maxime ducimus quo ipsum explicabo adipisci odit.
  </p>
</div>
